* {
	box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, sans-serif;
	background: #f4f6f8;
	color: #222;
}

.container {
	display: block;
	max-width: 460px;
	margin: 0 auto;
}

input {
	margin: 0;
}

input[type="text"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;

	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;

	padding: 0;
	margin: 0;

	font: inherit;
	color: inherit;
	
	border-radius: 0;
}

.btn {
	width: 100%;
	padding: 12px;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 10px;
	background: #CCCCCF;
	color: white;
	cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background: #878787;
}

.btn:active {
  transform: scale(0.98);
}